@model KidViewModel;
@using SantasWishlist.Domain;

<div class="text-left">
	<div>
		<h1 class="display-4">Bedankt @Model.Name!</h1>
		<p>Nu is het tijd om je cadeautjes uit te kiezen!</p>
		<br />
		<p>De cadeautjes zijn opgedeeld in 4 categoriën en je mag voor elke categorie kiezen welke cadeautjes je wil!</p>
	</div>

	@*line*@

	<form asp-controller="Kid" asp-action="ChoosingGifts">
		<div class="container">
			<div class="row">
				<div class="col">
					<h4>Iets dat je wil hebben</h4>

					@foreach(Gift gift in @Model.PossibleGifts)
					{
						@if (gift.Category == GiftCategory.WANT)
						{
							<div>
								<input type="checkbox" id="@gift.Name" name="chosenGifts" value="@gift">
								<label for="@gift.Name">@gift.Name</label>
							</div>
						}
					}
				</div>

				<div class="col">
					<h4>Iets dat je moet hebben</h4>

					@foreach (Gift gift in @Model.PossibleGifts)
					{
						@if (gift.Category == GiftCategory.NEED)
						{
							<div>
								<input type="checkbox" id="@gift.Name" name="chosenGifts" value="@gift">
								<label for="@gift.Name">@gift.Name</label>
							</div>
						}
					}
				</div>
			</div>

			<br />

			<div class="row"> 
				<div class="col">
					<h4>Iets om te dragen</h4>

					@foreach (Gift gift in @Model.PossibleGifts)
					{
						@if (gift.Category == GiftCategory.WEAR)
						{
							<div>
								<input type="checkbox" id="@gift.Name" name="chosenGifts" value="@gift">
								<label for="@gift.Name">@gift.Name</label>
							</div>
						}
					}
				</div>

				<div class="col">
					<h4>Iets om te lezen</h4>

					@foreach (Gift gift in @Model.PossibleGifts)
					{
						@if (gift.Category == GiftCategory.READ)
						{
							<div>
								<input type="checkbox" id="@gift.Name" name="chosenGifts" value="@gift">
								<label for="@gift.Name">@gift.Name</label>
							</div>
						}
					}
				</div>
			</div>
		</div>

		<br />

		<div>
			<h2>Staat wat je wil er niet tussen?</h2>
			<input type="text" class="" name="other" id="other">
			<p>Vul deze vraag alleen in als je zeker weet dat het cadeautje wat je wilt niet in de bovenstaande lijst staat!</p>
		</div>

		<input type="hidden" id="previous" name="previous" value="@Model">
		<button type="submit" class="" name="save" role="button">Naar afronden!</button>
	</form>
</div>